<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="../css/nav_admin.css">
	<link rel="stylesheet" href="../css/listados_admin.css">
	<style>
		.contenedor-pedidos {
			display: flex;
			flex-direction: row;
			align-items: center;


		}
	</style>
</head>

<body>
	<div th:insert="fragments/general.html :: menu"></div>
	<br>
	<div>Gestión de Pedidos</div>

	<div>
		<a href="registrarPedido">Registrar un Pedido</a>


	</div>
	<div class="listado">
		<div th:each="pedido :${pedidos}">
			<div class="item-listado" style="padding: 20px;">
				<p>
					Nombre: <span th:text="${pedido.nombre}"></span>
				</p>
				<p>
					Direccion: <span th:text="${pedido.direccion}"></span>
				</p>
				<p>
					Estado: <span th:text="${pedido.estado}"></span>
				</p>
				<div class="item-enlaces" style="justify-content: space-evenly; gap: 1em;">
					<a class="btn-primary" th:href="@{${ 'verDetallesPedido?id=' + pedido.id }}">Ver Detalles</a>
					<a class="btn-primary" th:href="@{${ 'editarPedido?id=' + pedido.id }}">Editar</a>
					<a class="btn-primary" th:href="@{${ 'borrarPedido?id=' + pedido.id }}"
						onclick="return confirm('Estás Seguro?')">Borrar</a>
				</div>

			</div>

		</div>


	</div>


</body>

</html>