<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/nav_admin.css">
<link rel="stylesheet" href="../css/listados_admin.css">
<title>Insert title here</title>
</head>
<body>
<div th:insert="fragments/general.html :: menu"></div>
<br>

listado de Usuarios:
<div class="listado">
	<div class="item-listado" th:each="usuario : ${usuarios}">
		<img class="img-usuario" th:src="@{${ '../mostrar_imagen_usuario?id=' + usuario.id }}" />
		<p>Nombre: <span th:text="${usuario.nombre}" ></span></p>
		<p>Email: <span th:text="${usuario.email}"></span></p>
		
		<input class="alta" type="checkbox" th:checked="${usuario.alta}" style="display: none;">
		<div class="item-enlaces">
			<a class="btn-primary" th:href="@{${ 'editarUsuario?id=' + usuario.id }}" th:text="#{admin.listado.item.editar}">Editar</a>
			<a class="btn-primary" th:if= "${usuario.alta == false}"
					th:href="@{${ 'altaUsuario?id=' + usuario.id }}" th:text="#{admin.listado.item.alta}"></a>
				<a class="btn-primary" th:if= "${usuario.alta == true}"
					th:href="@{${ 'bajaUsuario?id=' + usuario.id }}" th:text="#{admin.listado.item.baja}"></a>
		</div>
		
	</div>
</div>

<script src="../js/alta_admin.js"></script>

</body>
</html>