<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/formulario.css">
<title>Insert title here</title>
</head>
<body>
	
	<form class="formulario" action="#" th:action="guardarCambiosVideojuego" th:object="${videojuegoEditar}" method="post" enctype="multipart/form-data" >
		<div class="input-box">
			<input type="text" name="nombre" th:field="*{nombre}">
			<label for="nombre">Nombre</label>
			<p class="suggestion"></p>
		</div>
		
		<div class="textarea-box">
				<textarea type="text" th:field="*{descripcion}" name="descripcion"></textarea>
				<label for="descripcion">Descripcion</label>
				<p class="suggestion"></p>
		</div>
		Fecha: <input type="date" step=".01" th:field="*{fechaLanzamiento}" /> <br>
		Desarrollador: <input type="text" step=".01" th:field="*{desarrollador}" /> <br>
		Puntuacion: <input type="number" step=".01" th:field="*{puntuacion}" /> <br>
		Precio: <input type="number" step=".01" th:field="*{precio}" /> <br>
		Generos:
		<div th:each="genero : ${generos}">
			<input type="checkbox" th:value="${genero.id}" name="generosSeleccionados" th:checked= "${videojuegoEditar.generos.contains(genero)}"/> 
			<span th:text="${genero.nombre}"></span><br/>
		</div>
		<br>
		Plataformas:
		<div th:each="plataforma : ${plataformas}">
			<input type="checkbox" th:value="${plataforma.id}" name="plataformasSeleccionadas" th:checked= "${videojuegoEditar.plataformas.contains(plataforma)}"/>
			<label th:text="${plataforma.nombre}"></label><br>
		</div>
		<br>
		portada: <input type="file" th:field="*{fotoSubida}"/>
		<br>	
		<input type="hidden" th:field="*{id}"/>
		<input type="submit" value="Registrar Videojuego"/>
	</form>

	<script src="../js/formulario_inputs.js"></script>

</body>
</html>