<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/formulario.css">
<link rel="stylesheet" href="../css/admin.css">
<title>Insert title here</title>
</head>
<body>


introduce los datos del nuevo videojuego:

<form class="formulario" action="#" th:action="guardarVideojuego" th:object="${nuevoVideojuego}" method="post" enctype="multipart/form-data" >
	<div class="input-box">
	    <input type="text" name="nombre" th:field="*{nombre}">
	    <label for="nombre">Nombre</label>
	    <p class="suggestion"></p>
	</div>
	
	<div class="textarea-box">
            <textarea type="text" th:field="*{descripcion}" name="descripcion"></textarea>
            <label for="descripcion">Descripcion</label>
            <p class="suggestion"></p>
    </div>
	
	<div class="input-box">
	    <input type="text" name="plataformas" th:field="*{plataformas}">
	    <label for="plataformas">Plataformas</label>
	    <p class="suggestion"></p>
	</div>
	
	Fecha: <input type="date" step=".01" th:field="*{fechaLanzamiento}" /> <br>
	Desarrollador: <input type="text" step=".01" th:field="*{desarrollador}" /> <br>
	Puntuacion: <input type="number" step=".01" th:field="*{puntuacion}" /> <br>
	Precio: <input type="number" step=".01" th:field="*{precio}" /> <br>
	Genero: 
	<select th:field="*{idGenero}">
		<option th:each="g : ${generos}" th:text="${g.nombre}" th:value="${g.id}"/>		
	</select>
	<br>
	portada: <input type="file" th:field="*{fotoSubida}"/>
	<br>	
	<input type="submit" value="Registrar Videojuego"/>
</form>

<script src="../js/formulario_inputs.js"></script>

</body>
</html>