<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/inicio.css">
<link rel="stylesheet" href="../css/admin.css">
<title>Insert title here</title>
</head>
<body>
	
<div th:insert="fragments/general.html :: menu"></div>
<br>
<form action="obtenerVideojuegos" class="form-buscador">
	<input type="text" name="buscador" th:value="${nombre}">
	<input class="btn-buscar" type="submit" value="Buscar">
</form>

listado de videojuegos:

<div class="listado">
	<div class="item-listado" th:each="videojuego : ${videojuegos}" style="margin: 10px;" >
		<img class="img-videojuego" height="80px" th:src="@{${ '../mostrar_imagen_videojuego?id=' + videojuego.id }}" />
		<p>nombre: <span th:text="${videojuego.nombre}" ></span></p><br>	
		<p>descripcion: <span th:text="${videojuego.descripcion}"></span></p><br>
		<p>precio: <span th:text="${videojuego.precio}"></span></p> <br>
		<p>genero: <span th:text="${videojuego.genero.nombre}"></span></p> <br>
		
		<div class="item-enlaces">
			<a th:href="@{${ 'editarVideojuego?id=' + videojuego.id }}">Editar</a>
			<a th:href="@{${ 'borrarVideojuego?id=' + videojuego.id }}" onclick="return confirm('Estás Seguro')">Borrar</a>
		</div>
		
	</div>
</div>


</body>
</html>