<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/admin.css">
<title>Insert title here</title>
</head>
<body>


	<div th:fragment="menu">
		<span th:text="#{titulo.bienvenida}"></span>
		<div>
			<a href="obtenerVideojuegos?idioma=es" th:text="#{admin.navbar.idiomaEspañol}"></a>
			<a href="obtenerVideojuegos?idioma=en" th:text="#{admin.navbar.idiomaIngles}"></a>
		</div>
		<div class="menu">
			<ul class="nav">
			  <li><a href="../" th:text="#{admin.navbar.volver}"></a></li>  
			  <li class="drop"><span th:text="#{admin.navbar.gestionar}"></span>
			    <ul>
			      <li><a href="obtenerVideojuegos" th:text="#{admin.navbar.videojuegos}"></a></li>
			      <li><a href="obtenerUsuarios" th:text="#{admin.navbar.usuarios}"></a></li>
			      <li><a href="obtenerGeneros" th:text="#{admin.navbar.generos}"></a></li>
				  <li><a href="obtenerPlataformas" th:text="#{admin.navbar.plataformas}"></a></li>
				  <li><a href="obtenerPedidos" th:text="#{admin.navbar.pedidos}"></a></li>
			    </ul>
			  </li>
			  <li class="drop"><span th:text="#{admin.navbar.nuevo}"></span>
			    <ul>
			      <li><a href="registrarVideojuego" th:text="#{admin.navbar.registrarVideojuego}"></a></li>
			      <li><a href="registrarUsuario" th:text="#{admin.navbar.registrarUsuario}"></a></li>
			      <li><a href="registrarGenero" th:text="#{admin.navbar.registrarGenero}"></a></li>
				  <li><a href="registrarPlataforma" th:text="#{admin.navbar.registrarPlataforma}"></a></li>
			    </ul>
			  </li>
			  <li><a href="../logoutAdmin" th:text="#{admin.navbar.cerrarSesion}"></a></li>
			</ul>			
		</div>
	</div>


</body>
</html>