<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="menu">
		<div>
			<a href="../">volver a la parte de cliente</a>
		</div>
		<div style="text-align: center;font-size: 2em;background-color: lightblue;">
				BIENVENIDO A LA PARTE DE ADMINISTRACION DE LA TIENDA		
		</div>
		<div style="text-align: center;">
			<a href="obtenerVideojuegos">gestionar videojuegos</a>
			<a href="obtenerGeneros">gestionar generos</a>
			<a href="obtenerUsuarios">gestionar usuarios</a>
			<a href="obtenerPedidos">gestionar pedidos</a>			
		</div>
</div>


</body>
</html>