@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Inicio */
body {
  background-color: #272727;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  position: relative;
  white-space: nowrap;
  background-color: #003087;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.btn-primary:hover {
  background-color: rgb(0, 50, 100);
  color: #9dbcff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Carrito de la compra */
.carrito h2 {
  width: 100%;
  background-color: #303134;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
}
.carrito .contenedor-articulos {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carrito .contenedor-articulos .card {
  position: relative;
  width: 350px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.carrito .contenedor-articulos .card svg {
  width: 48px;
  fill: #333;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.carrito .contenedor-articulos .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 8px 16px rgba(49, 49, 49, 0.2);
          box-shadow: 0 8px 16px rgba(49, 49, 49, 0.2);
}
.carrito .contenedor-articulos .card:hover .card__content {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.carrito .contenedor-articulos .card:hover svg {
  scale: 0;
}
.carrito .contenedor-articulos .card__image {
  width: 100%;
  height: 100%;
}
.carrito .contenedor-articulos .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6156862745);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.carrito .contenedor-articulos .card__title {
  margin: 0;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.carrito .contenedor-articulos .card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #c0c0c0;
  line-height: 1.4;
}
.carrito .contenedor-articulos .nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carrito .contenedor-articulos .cantidades {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.carrito .contenedor-articulos .quantity {
  height: 30px;
  width: 30%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 0;
  background: rgba(255, 255, 255, 0.295);
  border-radius: 7px;
}
.carrito .contenedor-articulos .quantity label {
  width: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.carrito .contenedor-articulos .quantity button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.carrito .contenedor-articulos .quantity button .pequeña {
  width: 20px;
  height: 20px;
}
.carrito .contenedor-articulos .quantity button.aumentar:hover img {
  content: url("../images/anadir_hover.png");
}
.carrito .contenedor-articulos .quantity button.restar:hover img {
  content: url("../images/menos_hover.png");
}
.carrito .contenedor-articulos .card__button {
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: rgb(0, 0, 0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.carrito .contenedor-articulos .card__button:hover {
  background: rgba(255, 255, 255, 0.3215686275);
  color: rgb(63, 63, 63);
}
.carrito .contenedor-articulos .secondary {
  background: transparent;
  color: #c0c0c0;
  border: 1px solid #777;
}
.carrito .contenedor-articulos .item-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #303134;
  border-radius: 10px;
}
.carrito .contenedor-articulos .item-carrito img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px;
}
.carrito .contenedor-articulos .item-carrito .quantity {
  height: 30px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  -webkit-filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
          filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.carrito .contenedor-articulos .item-carrito .quantity label {
  width: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.carrito .contenedor-articulos .item-carrito .quantity button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.carrito .contenedor-articulos .item-carrito .quantity button .pequeña {
  width: 20px;
  height: 20px;
}
.carrito .contenedor-articulos .item-carrito .quantity button.aumentar:hover img {
  content: url("../images/anadir_hover.png");
}
.carrito .contenedor-articulos .item-carrito .quantity button.restar:hover img {
  content: url("../images/menos_hover.png");
}
.carrito .contenedor-boton-realizar-pedido {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carrito .contenedor-boton-realizar-pedido .boton-realizar-pedido {
  color: inherit;
  /*Hacer algo */
}

/* checkout */
.producto-item {
  margin: 5px;
  background-color: #272727;
  padding: 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}
.producto-item .item-enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.contenedor-checkout-4 {
  min-width: 600px;
  width: 50%;
  background-color: #272727;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.contenedor-checkout-4 .header-resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.contenedor-checkout-4 .formulario-paso-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.contenedor-checkout-4 .formulario-paso-4 .contenedor-resumen-videojuegos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.contenedor-checkout-4 .formulario-paso-4 .contenedor-resumen-videojuegos .item-videojuego {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  background-color: #303134;
  border-radius: 10px;
  padding: 10px 15px;
}
.contenedor-checkout-4 .formulario-paso-4 .contenedor-resumen-videojuegos .item-videojuego img {
  width: 90%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}