<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="css/inicio.css">
	<link rel="stylesheet" href="css/select.css">
	<link rel="stylesheet" href="css/admin.css">

	<link rel="stylesheet" type="text/css" href="" id="estilo-actual">



	<title>Insert title here</title>
</head>

<body>




	<div class="navbar">
		<div class="enlaces-cliente">
			<a class="btn-primary" href="#" id="inicio">Inicio</a>
			<a class="btn-primary" href="#" id="videojuegos">Videojuegos</a>
			<a class="btn-primary" href="#" id="registro">Registro</a>
			<a class="btn-primary" href="#" id="identificar">Identificarme</a>
			<a class="btn-primary" href="#" id="carrito">Ver carrito</a>
			<a class="btn-primary" href="#">Mis datos</a>
			<a class="btn-primary" href="#" id="logout">Cerrar sesion</a>
		</div>
		<a class="btn-primary acceso-admin" href="admin/obtenerVideojuegos">Acceso a administracion (Parte servidor)</a>
	</div>

	<div style="margin: 10px; text-align: center;" id="mensaje_login">
		usuario no identificado</div>




	<div id="contenedor">



	</div>





	<script src="libreriasJS/jquery.js"></script>
	<script src="libreriasJS/mustache.js"></script>
	<script src="libreriasJS/js.cookie.min.js"></script>


	<script src="js/index.js"></script>
	<script src="js/globales.js"></script>
	<script src="js/listado_videojuegos.js"></script>
	<script src="js/inicio_sesion.js"></script>
	<script src="js/registro.js"></script>
	<script src="js/carrito.js"></script>
	<script src="js/logout.js"></script>



</body>

</html>