<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="css/inicio.css">
	<link rel="stylesheet" href="css/select.css">
	<link rel="stylesheet" href="css/admin.css">

	<link rel="stylesheet" type="text/css" href="" id="estilo-actual">



	<title>Insert title here</title>
</head>

<body>
	<div class="navbar">
		<div class="enlaces-cliente">
			<a class="btn-primary" href="#" id="inicio">Home</a>
			<a class="btn-primary" href="#" id="videojuegos">Videogames</a>
			<a class="btn-primary" href="#" id="registro">Register</a>
			<a class="btn-primary" href="#" id="identificar">Identify me</a>
			<a class="btn-primary" href="#" id="carrito">View cart</a>
			<a class="btn-primary" href="#">My data</a>
			<a class="btn-primary" href="#" id="logout">Log out</a>
		</div>
		<a class="btn-primary acceso-admin" href="admin/obtenerVideojuegos">Access to administration (Server part)</a>
	</div>
	<div>
		<a href="?idioma=es">Spanish</a>
		<a href="?idioma=en">English</a>
	</div>

	<div style="margin: 10px; text-align: center;" id="mensaje_login">
		Unidentified user</div>




	<div id="contenedor">



	</div>





	<script src="libreriasJS/jquery.js"></script>
	<script src="libreriasJS/mustache.js"></script>
	<script src="libreriasJS/js.cookie.min.js"></script>


	<script src="js/index.js"></script>
	<script src="js/globales.js"></script>
	<script src="js/listado_videojuegos.js"></script>
	<script src="js/inicio_sesion.js"></script>
	<script src="js/registro.js"></script>
	<script src="js/carrito.js"></script>
	<script src="js/logout.js"></script>
	<script src="js/validaciones.js"></script>



</body>

</html>