@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    background-color: #272727;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.formulario {
    margin: 30px auto;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    background-color: #303134;
    border-radius: 10px;
    display: flex;
    padding: 30px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.11);

    .preview {
      width: 40%;
      height: 40%;
      object-fit: cover;
      border-radius: 100%;
    }
    .videojuego-img{
      border-radius: 20px;
    }

    .title {
      font-size: 1.2rem;
      color: darkgrey;
    }

    .no-error {
      position: relative;

      label {
        position: absolute;
        top: 50%;
        left: 12px;
        padding: 0 4px;
        transform: translateY(-50%);
        font-size: 18px;
        color: #C9C9C9;
        background-color: #303134;
        pointer-events: none;
        transition: top 0.1s linear, font-size 0.1s linear;
      }

      input,
      textarea {
        width: 100%;
        overflow: scroll-y;
        resize: none;
        text-wrap: wrap;
        height: fit-content;
        font-size: 18px;
        padding: 5px 16px;
        border: none;
        border-radius: 4px;
        color: white;
        background-color: #303134;
        outline: 1px solid #c9c9c9;

        &:hover {
          outline: 1px solid #007a91;
          color: #007a91;
        }

        &:focus {
          outline: 2px solid #007a91;
          color: #007a91;
        }

        &:hover+label {
          color: #007a91;
        }

        &:focus+label {
          color: #007a91;
          top: 0;
          font-size: 12px;
          background-color: #303134;
        }
      }

      .suggestion {
        max-width: 90%;
        position: absolute;
        bottom: -20px;
        left: 16px;
        font-size: 12px;
        color: #C9C9C9;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:after {
          max-width: 100%;
          height: fit-content;
          background-color: #232325;
          border-radius: 5px;
          color: #fff;
          content: attr(texto-error);
          opacity: 0;
          padding: 6px 12px;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .25s ease;
          visibility: hidden;
          white-space: wrap;
        }

        &:hover {
          overflow: visible;
          visibility: hidden;

          &:after {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            text-align: center;
          }
        }
      }


      &.is-filled {

        input,
        textarea {
          color: white;
        }

        label {
          top: 0;
          font-size: 12px;
          background-color: #303134;
        }
      }
    }

    .error {
      position: relative;

      label {
        position: absolute;
        top: 50%;
        left: 12px;
        padding: 0 4px;
        transform: translateY(-50%);
        font-size: 18px;
        color: red;
        background-color: #303134;
        pointer-events: none;
        transition: top 0.1s linear, font-size 0.1s linear;
      }

      input,
      textarea {
        width: 100%;
        overflow: scroll-y;
        text-wrap: wrap;
        resize: none;
        height: fit-content;
        font-size: 18px;
        padding: 5px 16px;
        border: none;
        border-radius: 4px;
        color: red;
        background-color: #303134;
        outline: 1px solid red;

        &:hover {
          outline: 1px solid red;
          color: red;
        }

        &:focus {
          outline: 2px solid red;
          color: red;
        }

        &:hover+label {
          color: red;
        }

        &:focus+label {
          color: red;
          top: 0;
          font-size: 12px;
          background-color: #303134;
        }
      }

      .suggestion {
        max-width: 90%;
        position: absolute;
        bottom: -20px;
        left: 16px;
        font-size: 12px;
        color: red;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:after {
          max-width: 100%;
          height: fit-content;
          background-color: #382b2b;
          border-radius: 5px;
          color: #fff;
          content: attr(texto-error);
          opacity: 0;
          padding: 6px 12px;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .25s ease;
          visibility: hidden;
          white-space: wrap;
        }

        &:hover {
          overflow: visible;
          visibility: hidden;

          &:after {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            text-align: center;
          }
        }
      }


      &.is-filled {

        input,
        textarea {
          color: white;
        }

        label {
          top: 0;
          font-size: 12px;
          background-color: #303134;
        }
      }

    }


    .checkbox {
      color: #c9c9c9;
    }

    .btn-enviar {
      color: white;
      background-color: #003087;
      width: 66.5%;
      padding: 10px 5px;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: 1.1em;

      &:hover {
        background-color: rgb(0, 50, 100);
        color: #9dbcff;
      }
    }

  }