@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$background-color-page: #272727;
$background-color_2: lightblue;

$ps-darkblue: #003087;
$ps-lightblue: #36A9E1;
$ps-darkgrey: #1B1D1F;

$xb-darkgreen: #107C10;
$xb-lightgreen: #52D726;
$sw-red: #E60012;
$sw_blue: #1E90FF;

/* Inicio */
body {
	width: 100vw;
	background-color: $background-color-page;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}
//enlaces-botones de la web
.btn-primary {
	position: relative;
	white-space: nowrap;
	background-color: $ps-darkblue;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 25px;
	padding: 10px 20px;
	transition: all 0.1s linear;
	transform: translateY(0px);
	
	&:hover{
		background-color: rgb(0, 50, 100);
		color: #9dbcff;
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	}
}

//barra de navegacion de la parte cliente
.navbar {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1em;
	background-color:$ps-darkblue;
	padding: 10px;

	.enlaces-cliente{
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
	
}
.acceso-admin{
	justify-self: flex-end;
}


//maquetacion y diseño basico de listados
.listado {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;

	.item-listado {
		margin: 5px;
		background-color: lightblue;
		padding: 15px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: black;
		gap: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		
		.img-usuario{
			width: 100px;
			height: 100px;
			object-fit: cover;
			border: 0;
			border-radius: 100px;
		}
		
		.img-videojuego{
			width: 200px;
			height: 200px;
			object-fit: cover;
			border: 0;
			border-radius: 10px;
		}
		
		p{
			span{
				margin-left: 10px;
			}
		}

		.item-enlaces {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			gap: 2em;
			position: relative;
			
		}
	}
}




#contenedor{
	width: 100vw;
    padding: 30px;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 1rem;
}


.contenedor-identificar-usuario{
	width: 100%;
	
}


/* Registro */
.div-registro {

	#formUsuario {
		margin: 20px auto;
		width: 35vw;
		min-width: 350px;
		max-width: 400px;
		background-color: #FFFFFF;
		border-radius: 0.4rem;
		font-size: 1.1rem;
		display: flex;
		padding-top: 1rem;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		
		.preview{
			width: 40%;
			height: 40%;
			object-fit: contain;
			
		}

	}

}




/* Carrito de la compra */
.carrito {
	h2 {
		width: 100%;
		background-color: $background-color_2;
		padding: 5px 10px;
		text-align: center;
		border-radius: 10px;
		
	}
	
	.contenedor-articulos{
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		gap: 10px;
		flex-wrap: wrap;
		justify-content: center;
		
		.item-carrito {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			padding: 10px;
			background-color: $background-color_2;
			border-radius: 10px;

			img {
				width: 100%;
			    height: 300px;
			    object-fit: cover;
			    object-position: center;
			    border-radius: 15px;
			}
	
			.item-cantidad {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				input {
					align-self: center;
					height: fit-content;
					width: 40%;
				}
			
			}
		}
	}

	.contenedor-boton-realizar-pedido {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		
		
		.boton-realizar-pedido {
			color: inherit;
			/*Hacer algo */
		}
	}
}


/* checkout */


.producto-item {
		margin: 5px;
		background-color: lightblue;
		padding: 15px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: black;

		.item-enlaces {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			
		}
	}




.contenedor-checkout-4{
	min-width: 600px;
	width: 50%;	
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
		
		
	.header-resumen {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
		
	.formulario-paso-4{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		
		.contenedor-resumen-videojuegos{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			
			
			
			.item-videojuego{
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.25rem;
				background-color: lightblue;
				border-radius: 10px;
				padding: 10px 15px;
				
				
				img{
					width: 90%;
				    height: 300px;
				    object-fit: cover;
				    object-position: center;
				    border-radius: 10px;
				}
			}
			
		}
		
	}
}


